{% load static %}

{% block table %}
<link rel="stylesheet" href="{% static 'css/city_list.css' %}">
<div class="outer-container">
  <ul class="ui-list">
    <li class="ui-item green">
      <i class="ion-icecream food-icon"></i>
      <p>Kuala Lumpur</p>
      <i class="ion-ios-arrow-forward"></i>
    </li>
    <li class="ui-item purple">
      <i class="ion-beer food-icon"></i>
      <p>Klang</p>
      <i class="ion-ios-arrow-forward"></i>
    </li>
    <li class="ui-item orange">
      <i class="ion-wineglass food-icon"></i>
      <p>Shah Alam</p>
      <i class="ion-ios-arrow-forward"></i>
    </li>
    <li class="ui-item pink">
      <i class="ion-soup-can food-icon"></i>
      <p>Ipoh</p>
      <i class="ion-ios-arrow-forward"></i>
    </li>
    <li class="ui-item blue">
      <i class="ion-pizza food-icon"></i>
      <p>Butterworth</p>
      <i class="ion-ios-arrow-forward"></i>
    </li>
    <li class="ui-item green">
      <i class="ion-coffee food-icon"></i>
      <p>Coffee</p>
      <i class="ion-ios-arrow-forward"></i>
    </li>
  </ul>

</div>
{% endblock %}
