{% extends 'web_app/index.html'%}

{% load static %}

{% block content%}
<!--<script src="jquery-3.5.1.min.js"></script>-->
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
<div class="dashboard">
  <header>
    <link rel="icon" href="http://openweathermap.org/img/wn/10d@4x.png" type="image/png">
    <div class="f fe">
      <div class="icon icon-w" >
        <img src="" id="icon_weather" alt="alternatetext">
      </div>
      <div class="heading">
        <h5 class="date" id="date"></h5>
        <h2 class="title" id="titles">...</h2>
      </div>
    </div>

    <div class="weather f">
      <div id="temp">

        <p>Temp..</p>
      </div>
      <div id="location">
        <p>Location..</p>
      </div>

    </div>
  </header>
      <section>
  <!-- Category -->
    <div class="category">
      <ul>
        <li><a href="" class="active" onclick="click_category()">City</a></li>
        <li><a href="http://127.0.0.1:8000/web_app/city_form" onclick="click_category()">Add city</a></li>
        <li><a href="#!" onclick="click_category()">Delete city</a></li>
        <li><a href="#!" onclick="click_category()">Edit city</a></li>
      </ul>
    </div>
  <!-- Appliances -->
    {% block table%}
        {% include "web_app/data_table.html" %}
    {% endblock %}
  </section>
</div>


<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/geoLocation.js' %}"></script>
<script src="{% static 'js/dateProcess.js' %}"></script>
<a href="https://www.youtube.com/watch?v=URUPsrmtYfs" target="_blank" title="Watch me speed code this" style="position: fixed; bottom: 10px; right: 10px"><img src="http://co0kie.github.io/codepen/youtube.png" alt=""></a>
{% endblock content%}